	// qt load_from_json implementation
	
	if(json.contains("ref"))
	{
		auto ref = json["ref"].toString();
		ds.storeObject( (quintptr*)this, ref );
	}
{% for property in class.properties %}
{%- if "dont_store" not in property.tags %}
	if( json.contains("{{ property.name }}") )
	{
		m_{{ property.name }} = {{ property | qt_from_jsonvalue("json", deserializer="ds") }};
	}
{%- endif %}
{% endfor %}
	return false;
